{% extends "base.html" %}
{% block title %}Update profile{% endblock %}
{% block body %}
{% block header %}{% endblock %}
<h1>Edit profile: {{ alpha.plaintext }}</h1>
<div id="mapholder"></div>
<p id="demo"></p>

<div id="mapholder"></div>

<script>
var x = document.getElementById("demo");

window.onload=function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    var latlon = position.coords.latitude + "," + position.coords.longitude;

    var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="
    +latlon+"&zoom=14&size=400x300&sensor=false";
    document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
    }
}
</script>
<form action="/submit" method="POST">
<input type="submit" style="color:black;" value="Save Profile">
<input type="hidden" name="alias_field" value={{alpha.plaintext}}>
<input id="hiddenLOC" type="hidden" name="location_field" value="">
<script>
var x = document.getElementById("demo");

window.onload=function getLocation() {
    print("test");
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function oldPosition(){
	if {{ alpha.location }} != (None || ""):
    	var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="+{{alpha.location}}+"&zoom=14&size=400x300&sensor=false";
}
function showPosition(position) {
    var latlon = position.coords.latitude + "," + position.coords.longitude;
    var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="+latlon+"&zoom=14&size=400x300&sensor=false";
    document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
    document.getElementById("hiddenLOC").value = latlon;
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation.";
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable.";
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out.";
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred.";
            break;
    }
}
</script>
<div class="row">
        <div class="small-4 columns">
                <img src="/static/img/beacon_w.png" height="100" width="100" alt="Work:">
                <div class="switch large">
                        <input class="switch-input" id="switch_w" type="checkbox" name="switch_w"{%if alpha.beacon_w %}
checked
{% endif %} >
                        <label class="switch-paddle" for="switch_w">
                        <span class="switch-active" aria-hidden="true"></span>
                        <span class="switch-inactive" aria-hidden="true"></span>
			</label>
                </div>
        </div>
        <div class="small-4 columns">
                <img src="/static/img/beacon_p.png" height="100" width="100" alt="Play:">
                <div class="switch large">
                        <input class="switch-input" id="switch_p" type="checkbox" name="switch_p"{%if alpha.beacon_p %}
checked
{% endif %} >
                        <label class="switch-paddle" for="switch_p">
                        <span class="switch-active" aria-hidden="true"></span>
                        <span class="switch-inactive" aria-hidden="true"></span>
                        </label>
                </div>
        </div>
        <div class="small-4 columns">
                <img src="/static/img/beacon_z.png" height="100" width="100" alt="Recover:">
                <div class="switch large">
                        <input class="switch-input" id="switch_z" type="checkbox" name="switch_z"{%if alpha.beacon_z %}
checked
{% endif %} >
                        <label class="switch-paddle" for="switch_z">
                        <span class="switch-active" aria-hidden="true"></span>
                        <span class="switch-inactive" aria-hidden="true"></span>
                        </label>
                </div>
        </div>
</div>
{% endblock %}		
