{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
{% if form.plaintext.data != None %}
<h2>Register this alias</h2>
<p>Simply enter a desired password.<p>
{% else %}
<h2>Sign in</h2>
<p>Enter your alias and password.<p>
{% endif %}
<form action="/login" method="POST">
	{{ form.csrf_token }}
	<div>
		{{ form.plaintext.label }}
		{{ form.plaintext }}
	</div>
	<div>
		{{ form.password.label }}
		{{ form.password }}
	</div>
	<button class="search-button" type="submit">Go</button>
</form>
{% endblock %}


